---
import { actions } from 'astro:actions';
import QuestionForm from '../components/questionForm.astro';
import Footer from '../components/footer.astro';
import Layout from '../layouts/default.astro';

const result = Astro.getActionResult(actions.submitQuestion);
if (result && !result.error) {
  return Astro.redirect(`/success`);
}
---

<Layout>
	<h1 class="text-center">Ask Elian a question</h1>
	<QuestionForm />
	<Footer />
</Layout>

