---
import Layout from '../layouts/default.astro';
---

<Layout>
  <h1 class="text-center">Success!</h1>
  <p class="text-center">Your question has been submitted.</p>
  <a href="/">Submit another</a>
</Layout>