---
import Link from './Link.astro';
---
<footer class="text-center w-full mx-auto text-xs fixed bottom-4">
  <p>Built after an idea of <Link href="https://roe.dev/">Daniel Roe</Link>.</p>
  <p>Built with <Link href="https://astro.dev">Astro</Link>, <Link href="https://tailwind.com">Tailwind</Link>, <Link href="https://solidjs.com">Solid</Link>, and <Link href="https://turso.tech">Turso</Link></p>
</footer>
