---
import { actions } from 'astro:actions';
---

<form class="flex flex-col my-8" action={actions.submitQuestion} method="POST">
  <label for="question">Your question</label>
  <input type="text" id="question" name="question" required />
  <button type="submit">Ask</button>
</form>